:root {
    --sage: #D2CCA1;
    --goldCrayola: #E5C687;
    --white: #f8f8f8;
    --black: #222;
    --gray: #eee;
    --violet:purple;

  }
.light-theme{
    --fontColor:var(--black);
    --parent-bg:var(--gray);
    --child-bg:var(--goldCrayola);
}
.dark-theme{
    --fontColor:var(--white);
    --parent-bg:var(--black);
    --child-bg:var(--violet);
}
.parent{
    display:flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width:600px;
    height:300px;
    background-color:var(--parent-bg);
    color:var(--fontColor)
}
.child{
    background-color: var(--child-bg);
    color:var(--fontColor);
    width:100px;
    height:100px;
    padding: 10px;

}